<div class="main-container">
  <div class="inner-wrapper">
    <div class="logo-container">
      <img src="../assets/rotundalogo.png" />
    </div>
    <div class="title">Welcome back to <span>URL Parser Tool</span></div>

    <div class="subtitle">Please provide the strings in the inputs below</div>
    <div class="object" *ngIf="data">
      <pre>
        {{ data | json }}
      </pre>
    </div>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>URL Format String</mat-label>
      <input
        matInput
        placeholder="Ex. /:version/api/:collection/:id"
        [(ngModel)]="str1"
      />
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>URL Instance</mat-label>
      <input
        matInput
        placeholder="Ex. 6/api/listings/3?sort=desc&limit=10"
        [(ngModel)]="str2"
      />
    </mat-form-field>

    <div class="error" *ngIf="!isValid">Please enter valid strings</div>

    <button mat-stroked-button (click)="submit()" class="submit-button">
      Parse
    </button>
  </div>
</div>
